{% extends './base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container main">
    <div class="row">
        <h2>{{ user.get_full_name }}</h2>
        <ul>
            <li>Username: {{ user.username }}</li>
            <li>Location: {{ user.profile.bio }}</li>
            <li>Birth Date: {{ user.profile.birth_date }}</li>
            <img src="{{ user.profile.avatar.url }}" class="img-fluid">
            
        </ul>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form profile_form %}
            <button class="btn btn-outline-success">Save</button>
        </form>
    </div>
</div>
{% endblock %}