@media (min-width: 1200px) {
  .container {
    max-width: 900px !important;
  }
}
.small{
    /* border: red solid 10px; */
    height:30px;
}
.main{
  margin-top: 80px;
}
.profile{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.small-profile{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}